<!doctype html>
<html lang="en" ng-app="angularPerson">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HHP App</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
</head>
<body ng-controller="mainController">
	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<div ng-include src="'navbar.html'"></div>
	
	<div id="div_head" class="text-center" >
			<h3>Person</h3>
		</div>
	<div id="div_container" class="container">
		<!--Cabecera-->
		
		
		<button type="button" id="bNew" class="btn btn-primary btn-sm" ng-click="newValue()">New</button></td>
		
		<div id="div_list"class="bs-example">
		<table class="table table-hover">
		<thead>
		<tr>
		<th>Name</th>

		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="person in persons">
		<td>{{person.name}} {{person.surname}} </td>
		<td><button type="button" class="btn btn-primary btn-sm" ng-click="loadPerson(person._id)">Edit</button>
		<!-- <button type="button" class="btn btn-danger btn-sm" ng-click="deletePerson(person._id)">Delete</button></td> -->
		 <button type="button" id="bdel" class="btn btn-danger btn-sm" ng-click="deletePerson(person._id)">Delete</button></td>
		</tr>
		</tbody>
		
		</table>
		</div>

 
		<!--Formulario para insertar nuevos Todo-->
		<div id="div_form" class="row">
			<div>
				<form role="form">
				<input type="hidden" id="id" class="form-control" ng-model="formData._id">
				 <div class="form-group">
    			 	<label for="lnick">Nick Name</label>
    			 	<input type="text" id="nick" class="form-control" placeholder="Nick" ng-model="formData.nick">
  				</div>	
  				<div class="form-group">
    			 	<label for="lname">Name</label>
    			 	<input type="text" id="name" class="form-control" placeholder="Name" ng-model="formData.name">
  				</div>	
  				<div class="form-group">
    			 	<label for="lSurname">Surname</label>
    			 	<input type="text" id="surname" class="form-control" placeholder="Surname" ng-model="formData.surname">
  				</div>	
  				
  				

					<!-- <button id="aceptar" class="btn btn-default" ng-click="{{action}}">{{buttonText}}</button> -->
					<!-- <button id="AddNew" class="btn btn-default" ng-click="create()">Add New</button>  -->
					<button id="Save" class="btn btn-default" ng-click="update(formData._id)">Save</button> 
					<button id="Cancel" class="btn btn-default" ng-click="cancel()">Cancel</button> 
					
					
				</form>
			</div>
		</div>
	</div>

	<script src="javascripts/bootbox.min.js"></script>

	<script src="javascripts/angular.min.js"></script>
	
	<script src="javascripts/person_c.js"></script>
	
</body>
</html>